#left-nav-crumbs ul {
	margin-left: 3px;
	padding: 0;
	padding-top: 3px;
	list-style-type: none;
	font-size: .85em;
}

#left-nav-crumbs ul li {
	text-decoration: none;
	color: #000;
	width: auto;
	width: expression(100 +   "%"); /* IE hack */
	display: block;
	padding: 5px 4px 3px 0.6em;
}

#left-nav-crumbs ul li.selected {
	text-decoration: none;
	color: #000;
	width: auto;
	width: expression(100 +   "%"); /* IE hack */
	display: block;
	text-decoration: none;
	border: 1px solid #777;
	padding: 3px 3px 3px 0.55em;
}

#left-nav {
	width: 100%;
}

#left-nav A {
	text-decoration: none;
	display: block;
}

#left-nav UL LI A {
	padding: 8px 6px 8px 16px;
	color: #474747;
	line-height: 13px;
}

#left-nav DIV {
	margin-bottom: 6px;
}

#left-nav H3 {
	text-align: center;
	padding: 3px;
	margin: 0;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
	border: solid 1px #474747;
}

#left-nav UL {
	border: 1px solid #777;
	border-top: 0;
	background: #fafafa;
	padding: 0;
	margin: 0;
	clear: both;
}

#left-nav UL LI {
	list-style: none;
	font-family: verdana;
	font-size: 11px;
	line-height: 7.5pt;
	margin: 0;
	padding: 0;
}

#left-nav UL LI.last {
	border-bottom: solid 1px #474747;
}

#subnav UL {
	border: 0;
	padding: 0;
	margin: 0;
	margin-left: 28px;
	font-size: 10px;
}

#subnav UL LI {
	border: 0;
	list-style: disc;
	padding: 0;
	margin: 0;
	color: #565656;
	margin-bottom: 6px;
	font-size: 10px;
}

#subnav UL LI A {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

#subnav ul li a:hover, #subnav ul li a.sub-selected {
	background: none;
}

#top-nav {
	padding: 0px;
	padding-top: 6px;
}

#top-nav ul {
	margin-left: 0px;
	padding-left: 0;
	display: inline;
	margin-top: 2px;
}

#top-nav ul li {
	border-top: 1px solid #474747;
	border-right: 1px solid #474747;
	border-left: 1px solid #474747;
	list-style: none;
	display: inline;
	float: left;
	margin-right: 3px;
}

#top-nav ul li.first {
	margin-left: 10px;
	border-left: 1px solid #474747;
}

#top-nav ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 0px;
	font-size: 1.1em;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

#top-nav ul li a.selected {
	padding-bottom: 4px;
	background: #fff;
	z-index: 3;
}

/* Banner Links */
.banner-links ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
}

.banner-links ul li {
	margin-left: 0;
	padding-left: 10px;
	padding-right: 4px;
	padding-bottom: 1px;
	border-left: 1px solid #FFF;
	list-style: none;
	display: inline;
}

.banner-links ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}

.banner-links ul li a {
	text-decoration: underline;
	color: #FFF;
	font-size: 1em;
}

.banner-links ul li a:hover {
	text-decoration: underline;
}

.banner-links ul li a.selected {
	padding: 2px;
	border: 1px solid #777;
}

a.nowrap {
	white-space: nowrap;
}